# 应用配置
ENVIRONMENT=development
PORT=8080

# 数据库配置
DATABASE_URL=postgres://username:password@localhost:5432/dbname

# JWT配置
JWT_SECRET=your-secret-key-here

# 日志配置
LOG_LEVEL=debug

# 跨域配置
CORS_ALLOW_ORIGIN=*

# OKX API配置
OKX_API_KEY=your-okx-api-key
OKX_SECRET_KEY=your-okx-secret-key
OKX_PASSPHRASE=your-okx-passphrase
OKX_IP=
OKX_REMARK=Gin项目
OKX_PERMISSIONS=读取/提现/交易
OKX_BASE_URL=https://www.okx.com
OKX_IS_TEST=false 